<style>
	.menu {
		width: 150px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
		background: #168C9E;
	}
	.nav-icon {
		width: 60px;
		height: 60px;
		margin-top: 40px;
	}
</style>
<div class="menu col-lg-2 d-flex align-items-center">
	<a href="/" title="Accueil"><img class="nav-icon" src="../../client/images/accueil.png" alt=""></a>
	<a href="/distribution" title="Page de distribution"><img class="nav-icon" src="../../client/images/2924766.png" alt=""></a>
	<a href="/editeur" title="Page d'edition"><img class="nav-icon" src="../../client/images/1688441.png" alt=""></a>
</div>