<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Drag and drop</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="client/styles/distribution.css" />
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



		<script>
			var Etudiants = [];
			var Administratifs = [];
			var Professeurs = [];
			var Eleves = [];
			$(function()
			{

			})


			function start(e){
				e.dataTransfer.effectAllowed="copy";
				
				/*e.dataTransfer.setData("text",e.target.getAttribute("id"));*/
				e.dataTransfer.setData("text/plain",event.target.id);
			}

			function over(e){
				/*e.currentTarget.className="class1";*/
				event.preventDefault();

				/*return false;*/
			}

			// permet de savoir si le contenu est déjà présent dans le conteneur
			function find(myArray, element)
			{
			//	alert(element );
				if ($.inArray(element, myArray) != -1)
				  	return true	;
				else
					return false;
			}


			// Dépôts des contenus au sein des conteneurs
			function notFind(destinationId,id)
			{
				returnValue=	false	;
				switch(destinationId)
				{
					case "ETUDIANTS":
						if(!find(Etudiants,id))	{
							Etudiants.push(id);
							returnValue = true;
						}
						break	;
					case "ELEVES":
						if(!find(Eleves,id))	{
							Eleves.push(id);
							returnValue = true;
						}
						
						break	;
					case "ADMINISTRATIFS":
						if(!find(Administratifs,id))	{
							Administratifs.push(id);
							returnValue = true;
						}
						
						break	;
					case "PROFESSEURS":
						if(!find(Professeurs,id))	{
							Professeurs.push(id);
							returnValue = true;
						}
						
						break	;
					default : 
					//	alert("la")	;
				}
				return returnValue	;
			}


			function drop(e,destinationId){
				/*ob=e.dataTransfer.getData("text");
				e.currentTarget.appendChild(document.getElementById(ob));

				e.stopPropagation();
				return false;*/
				
				const id = e.dataTransfer.getData("text");
				//let newURI = window.location.href = "distribution?param=" + id + "?destination=" + destinationId
				//alert(destinationId);	// id de la Destination
				if(notFind(destinationId,id))
				{					
					const draggableElement = document.getElementById(id);
					const dropzone = event.target;
					const newElement = draggableElement.cloneNode(true);

					dropzone.appendChild(newElement);

					/*event.dataTransfer.clearData();*/
					/*e.dataTransfer.clearData();*/
					event.preventDefault();
				}

				//alert(`La zone de dépose a pour identifiant: ${event.target.id}`);
				alert("Photo " + id + " déposée dans la zone " + destinationId);

				$.ajax({
					url: 'http://127.0.0.1:3000/etudiant',
					type: 'POST',
					data: {id: id, destinationID: destinationId},
					success: function(data) {
						console.log('Data sent to server:', data);
					},
					error: function(resultat, statut, erreur) {
						alert(resultat);
						console.log(statut)
						console.log(erreur)
					}
				});


			}

			$(document).ready(function(){
		    $("#ETUDIANTS, #PROFESSEURS, #ELEVES, #ADMINISTRATIFS").on("dblclick", "img", function(){
		        $(this).remove();
		        const id = $(this).attr("id");
		        Etudiants = Etudiants.filter(elem => elem !== id);
		        Administratifs = Administratifs.filter(elem => elem !== id);
		        Professeurs = Professeurs.filter(elem => elem !== id);
		        Eleves = Eleves.filter(elem => elem !== id);
		    });
		});
				


		/*function leave(e){
			e.currentTarget.className="class1";
		}*/

		</script>
	</head>

	<body>
		<div class="container">
			<div class="class1" onDragStart="start(event)" onDragOver="return over(event)"  >
				<img src="client/images/im1.jpg"	id="METEO" draggable="true" />
				<img src="client/images/im2.jpg"	id="MENU" draggable="true"/>
				<img src="client/images/im3.jpg"	id="PA" draggable="true"/>
				<img src="client/images/im4.jpg" 	data-url="192.168.1.44:3000/ephemeride"	id="EPHEMERIDES" draggable="true"/>
				<img src="client/images/im6.jpg"	id="PAUL" draggable="true"/>
			</div>

			<div class="class6">
				<div class="class2" id="ELEVES" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">Elèves</div>
				<div class="class3" id="ETUDIANTS" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">Etudiants</div>
				<div class="class4" id="PROFESSEURS" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">Professeurs</div>
				<div class="class5" id="ADMINISTRATIFS" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">Administrations</div>
			</div>
			<!--<div class="class2" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" onDragLeave="leave(event)">-->

			<!-- <div class="class6" id="ici5" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" > <h1>Poubelle</h1> -->
			<!--<div class="class3"  onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" onDragLeave="leave(event)"> -->
		</div>
	</body>
</html>
