<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Drag and drop</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="client/styles/distribution.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			//const axios = require("axios")

			var Etudiants = [];
			var Administratifs = [];
			var Professeurs = [];
			var Eleves = [];
			
			
			$(function()
			{
				$("#ETUDIANTS, #PROFESSEURS, #ELEVES, #ADMINISTRATIFS").on("dblclick", "img", function()
				{
					$(this).remove();
					const id = $(this).attr("id");
					Etudiants = Etudiants.filter(elem => elem !== id);
					Administratifs = Administratifs.filter(elem => elem !== id);
					Professeurs = Professeurs.filter(elem => elem !== id);
					Eleves = Eleves.filter(elem => elem !== id);
				});
		
			});

			function start(e){
				e.dataTransfer.effectAllowed="copy";
				
				/*e.dataTransfer.setData("text",e.target.getAttribute("id"));*/
				e.dataTransfer.setData("text/plain",event.target.id);
				$(this).addClass("dragged-image"); // Ajouter la classe dragged-image
			}

			function over(e){
				/*e.currentTarget.className="class1";*/
				event.preventDefault();

				/*return false;*/
			}
			
			// permet de savoir si le contenu est déjà présent dans le conteneur
			function find(myArray, element)
			{
			//	alert(element );
				if ($.inArray(element, myArray) != -1)
					return true	;
				else
					return false;
				}
			// Dépôts des contenus au sein des conteneurs
			function notFind(destinationId,id)
			{
				returnValue=	false	;
				switch(destinationId)
				{
					case "ETUDIANTS":
						if(!find(Etudiants,id))	{
							Etudiants.push(id);
							returnValue = true;
						}
						break	;
					case "ELEVES":
						if(!find(Eleves,id))	{
							Eleves.push(id);
							returnValue = true;
						}
						
						break	;
					case "ADMINISTRATIFS":
						if(!find(Administratifs,id))	{
							Administratifs.push(id);
							returnValue = true;
						}
						
						break	;
						case "PROFESSEURS":
						if(!find(Professeurs,id))	{
							Professeurs.push(id);
							returnValue = true;
						}
						
						break	;
					default : 
					//	alert("la")	;
				}
				return returnValue	;
			}

			function drop(e,destinationId){
				//var socket = io();
				/*ob=e.dataTransfer.getData("text");
				e.currentTarget.appendChild(document.getElementById(ob));

				e.stopPropagation();
				return false;*/
				
				let id = e.dataTransfer.getData("text");

				//let newURI = window.location.href = "distribution?param=" + id + "?destination=" + destinationId
				//alert(destinationId);	// id de la Destination
				if(notFind(destinationId,id, e))
				{					
					const draggableElement = document.getElementById(id);
					const dropzone = event.target;
					const newElement = draggableElement.cloneNode(true);

					newElement.classList.remove("dragged-image"); // Supprimer la classe dragged-image
  					newElement.classList.add("small-image"); // Ajouter la classe small-image

					dropzone.appendChild(newElement);

					/*event.dataTransfer.clearData();*/
					/*e.dataTransfer.clearData();*/
					e.preventDefault();
					//alert(`La zone de dépose a pour identifiant: ${event.target.id}`);
					alert("Photo " + id + " déposée dans la zone " + destinationId)
					//console.log(id)

					fetch("http://127.0.0.1:3000/distribution", {
						method: "POST",	
						body: JSON.stringify({ id: id }),
						headers: { "Content-Type": "application/json" }
					});
					//window.location.href = "/etudiant?id=" + id;
			}
		}
		/*function leave(e){
			e.currentTarget.className="class1";
		}*/

		</script>
	</head>

	<body>
		<div class="gobal-container row">	
			<%- include("../partials/menu") %>
			<div class="container-distrib col-lg-10">
				<div class="class1" onDragStart="start(event)" onDragOver="return over(event)"  >
					<img src="client/images/im1.jpg" class="hover-image"	id="METEO" draggable="true" />
					<img src="client/images/im2.jpg"	class="hover-image"	id="MENU" draggable="true"/>
					<img src="client/images/im3.jpg" class="hover-image"	id="PA" draggable="true"/>
					<img src="client/images/im4.jpg" class="hover-image"	id="EPHEMERIDES" draggable="true"/>
				</div>

				<div class="class6">
					<div class="class2">
						<p>Elèves</p>
						<div id="ELEVES" class="d-flex container-img" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event,this.id)">

						</div>
					</div>
					<div class="class3">
						<p>Etudiants</p>
						<div id="ETUDIANTS" class="d-flex container-img" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">

						</div>
					</div>
					<div class="class4"     id="PROFESSEURS" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">
						<p>Professeurs</p>
						<div id="PROFESSEURS" class="d-flex container-img" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">

						</div>
					</div>
					<div class="class5"     id="ADMINISTRATIFS" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">
						<p>Administrations</p>
						<div id="ADMINISTRATIFS" class="d-flex flex-start container-img" onDragStart="start(event)" 	onDragOver="return over(event)" onDrop="return drop(event,this.id)">

						</div>
					</div>
				</div>
				<!--<div class="class2" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" onDragLeave="leave(event)">-->

				<!-- <div class="class6" id="ici5" onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" > <h1>Poubelle</h1> -->
				<!--<div class="class3"  onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)" onDragLeave="leave(event)"> -->
			</div>
		</div>
	</body>
</html>
