<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <title>Document</title>
</head>

<body>
    <h1>Ephemeride</h1>
    <p id="time"></p>
    <p id="time1"></p>
</body>
<script src="<%= '/client/ephemeride.js' %>"></script>
</html>