<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      /* Style pour le menu */
      .menu {
        background-color: #edeff1;
        height: 100vh;
        width: 350px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
      }
      /* Style pour le contenu */
      .content {
        margin-left: 350px;
        padding: 20px;
      }

      a {
        padding-top: 10px;
      }

      .bg-orange{
        background-color: orange;
      }
    </style>
  </head>
  <body onload="createCalendar(); highlightCurrentDate()">
    <div class="menu d-flex flex-column">
      <a href="#" class="nav-link pt-5">Addresse MAC</a>
      <a href="#" class="nav-link pt-5">Proffesseurs absents</a>
      <div class="dropdown">
        <button class="ml-3 mt-5 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Affichage
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="nav-link dropdown-item pt-3" href="#">Ephéméride</a>
          <a class="nav-link dropdown-item pt-3" href="#">Météo</a>
          <a class="nav-link dropdown-item pt-3" href="#">Menu de la cantine</a>
        </div>
      </div>
    </div>
    <div class="content">
      <h1>Bienvenue sur l'affichage Dynamique</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered" id="calendar">
              <thead>
                <tr>
                  <th>Dimanche</th>
                  <th>Lundi</th>
                  <th>Mardi</th>
                  <th>Mercredi</th>
                  <th>Jeudi</th>
                  <th>Vendredi</th>
                  <th>Samedi</th>
                </tr>
              </thead>
              <tbody id="calendar-body">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      function createCalendar(){
        var currentDate = new Date();
        var currentMonth = currentDate.getMonth();
        var currentYear = currentDate.getFullYear();

        var daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
        var firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();

        var calendarBody = document.getElementById("calendar-body");

        var row = document.createElement("tr");
        var day = 1;

        for (var i = 0; i < 7; i++) {
          var cell = document.createElement("td");
          if (i < firstDayOfMonth) {
            cell.innerHTML = "";
          } else {
            cell.innerHTML = day;
            day++;
          }
          row.appendChild(cell);
        }
        calendarBody.appendChild(row);

        while (day <= daysInMonth) {
          var row = document.createElement("tr");
          for (var i = 0; i < 7 && day <= daysInMonth; i++) {
            var cell = document.createElement("td");
            cell.innerHTML = day;
            row.appendChild(cell);
            day++;
          }
          calendarBody.appendChild(row);
        }
      }

      function highlightCurrentDate(){
        // Get the current date
        var currentDate = new Date();

        // Get the current day of the month
        var currentDay = currentDate.getDate();

        // Get the current month
        var currentMonth = currentDate.getMonth();

        // Get all the table cells in the calendar
        var calendarCells = document.querySelectorAll("#calendar-body td");

        // Loop through all the cells and check if the cell's date and month match the current date and month
        for(var i = 0; i < calendarCells.length; i++){
          var cell = calendarCells[i];

          // Get the cell's date and month
          var cellDate = parseInt(cell.innerHTML);
          var cellMonth = cell.dataset.month;

          // If the cell's date and month match the current date and month, add the "bg-orange" class to the cell
          if(cellDate === currentDay && cellMonth === currentMonth){
            cell.classList.add("bg-orange");
          }
        }
      }

    </script>
  </body>
</html>